<!DOCTYPE html>
<html>
<head>
    <title>Redirecting to Payment...</title>
</head>

<body>

<h3>Redirecting to secure payment...</h3>

<script src="https://sdk.cashfree.com/js/v3/cashfree.js"></script>

<script>

window.onload = function () {

    const cashfree = Cashfree({
        mode: "{{ 'production' if cashfree_mode == 'LIVE' else 'sandbox' }}"
    });

    cashfree.checkout({
        paymentSessionId: "{{ payment_session_id }}",
        redirectTarget: "_self"
    });

};

</script>

</body>
</html>